{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div id="content-box">
    <div id="main-content">
        <form action="/" method="POST">
            <input type="text" name="title" placeholder="Search for a book" autofocus onfocus="this.select()"/>
            <input type="submit" value="Add"/>
        </form>
    </div>
    <div id="side-bar">
        <h1 style="text-align: center; margin: 10px">Book List</h1>
        <div id="item-list">
            {% for item in items %}
            <div class="item-card">
                <img src={{ item['cover_img_url'] }} alt="Cover"
                    style="width: 150px">
                <br>
                <b>Title: </b><p>{{ item['title']  }}</p>
                <b>Author: </b><p>{{ item['author_last'].title() +",
                    "+item['author_first'].title() }}</p>
            </div>
            {% endfor %}
        </div>

        <div id="button-box">
            <form class="recommend-form" action="/recommended" method="GET">
                <input class="button" type="submit" value="Search for
                    Recommendations"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}