{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div id="content-box">
    <div id="main-content">
        <form action="/" method="post">
            <input type="text" name="title" />
            <input type="submit" value="Add"/>
        </form>
    </div>
    <div id="side-bar">
        <tr>
            <th>Title</th>
            <th>Author First</th>
            <th>Author Last</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item['title'] }}</td>
            <td>{{ item['author_first'] }}</td>
            <td>{{ item['author_last'] }}</td>
        </tr>
        {% endfor %}
        <input type="submit" value="Search for Recommendations"/>
    </div>
</div>
{% endblock %}