{% extends 'base.html' %}

{% block head %}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
$(function() {
    $("#autocomplete").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value); // not in your question, but might help later
        }
    });
})

</script>
{% endblock %}

{% block body %}
<div id="content-box">
    <div id="main-content">
        <form action="/" method="POST">
            <input name="title" type="text" id="autocomplete" class="form-control input-lg"/>
            <input class="button" id="submit-button" type="submit" value="Add"/>
        </form>
        <form action="/clear" method="DELETE">
            <input class="button" id="delete-button" type="submit" value="Clear Selections">
        </form>
    </div>

    <div id="side-bar">
        <h1 style="text-align: center; margin: 10px">Book List</h1>
        <div id="item-list">
            {% for item in items %}
            <div class="item-card">
                <img src={{ item['cover_img_url'] }} alt="Cover"
                    style="width: 150px">
                <br>
                <b>Title: </b><p>{{ item['title']  }}</p>
                <b>Author: </b><p>{{ item['author_last'].title() +",
                    "+item['author_first'].title() }}</p>
            </div>
            {% endfor %}
        </div>

        
        <div id="button-box">
            <form class="recommend-form" action="/recommended" method="GET">
                <input class="button" id="recommend-button" type="submit" value="Search for
                    Recommendations"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}